.link {
    color: hsl(0, 0%, 60%);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: color 0.3s;
}

.link:hover {
    color: hsl(215, 85%, 60%); 
}

.activeLink {
    color: hsl(215, 85%, 60%); 
    transition: color 0.3s
}

.toggle {
    background-color: hsl(215, 85%, 60%);
    margin: 0;
    top: 10px;
    border-radius: 15px;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 999;
    cursor: pointer;
}

.navHeader {
    color: hsl(215, 85%, 60%);
}

.sidebar {
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    height: 100% !important;
    flex-grow: 1 !important;
    float: left !important;
    background-color: hsl(0, 0%, 20%) !important;
}

.toggleSlideIn {
    animation: slideIn 0.5s ease forwards;    
}

.toggleSlideOut {
    animation: slideOut 0.5s ease forwards
}

@keyframes slideIn {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(137px);
    }
}

@keyframes slideOut {
    0% {
        transform: translateX(137px);
    }

    100% {
        transform: translateX(0);
    }
}