.pageContainer {
    color: #24182D;
    height: 100%;
}

.header {
    display: flex;
    padding: 10px;
}

.body {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(400px, 1fr) );
    grid-column-gap: 20px;
    justify-items: center;
    grid-row-gap: 20px;
    padding: 10px;
}

.noGearContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.form {
    display: flex;
    justify-content: center;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    margin: 10px;
	justify-content: space-evenly;
}

.inputContainer label {
    font-size: 16px;
}

.inputContainer input {
    line-height: 30px;
    min-width: 150px;
    border: 1px solid #d4d4d4;
    background: #fafafa;
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
    border-radius: 5px;
    padding: 0 20px;
    font-size: 16px;
    color: #666;
}

.formRow1 {
    display: flex;
    justify-content: space-between;
}

.formRow2 {
    display: flex;
    justify-content: space-between;
}

.formRow3 {
    display: flex;
    justify-content: center;
}

.formButtons {
    display: flex;
    justify-content: space-evenly;
}

.formButtons button {
    color: white !important;
    background-color: hsl(215, 85%, 60%) !important ;
}

.card {
    background-color: #fafafa;
    max-width: 512px;
    min-width: 400px;
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
    padding: 20px;
    border: 1px solid #d4d4d4;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    border-radius: 5px;
    position: relative;
}

.options {
    position: relative !important;
    left: 355px !important;
    bottom: 212px !important;
}

.blankCard {
    background-color: #fafafa;
    max-width: 512px;
    min-width: 400px;
    height: 254px;
    box-shadow: inset 0px 1px 3px 0px rgb(0 0 0 / 8%);
    padding: 20px;
    border: 1px solid #d4d4d4;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.cardIconContainer {
    grid-column: 1 / 1;
    grid-row: 1 / 1;
}

.cardDetailsContainer {
    grid-column: 2 / 2;
    grid-row: 1 / 1;
}

.cardProgressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 1 / 3;
    grid-row: 2 / 2;
}

@media (max-width: 576px) {

    .body {
        grid-template-columns: repeat( auto-fit, minmax(300px, 1fr) );
    }

    .card {
        min-width: 300px;
    }

    .blankCard {
        min-width: 300px;
    }

    .cardDetailsContainer p {
        font-size: 12px;
    }

    .progress {
        font-size: 12px !important;
    }

    .options {
        left: 253px !important;
        top: -167px !important;
    }

    .formRow1 {
        flex-direction: column;
    }

    .formRow2 {
        flex-direction: column;
    }
 }