.historyPageContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.historyTable {
    margin-top: 10px;
    border-collapse: collapse;
    background-color: hsl(255, 0%, 95%);
    width: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-align: left;
    border-radius: 5px;
}

.historyTableHeader {
    color: white;
    background-color: #216FDD;
}

.historyTableHeader th {
    font-weight: 400;
    padding: 10px;
}

.tableBodyRow td {
    padding: 10px
}

.tableBodyRow:nth-child(even) td  {
    background-color: #FFFFFF;
}

.tableBodyRow:nth-child(odd) td {
    background-color: #F6F6F6;
}


